@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  transition: all ease-in-out 0.3s;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

* {
  @apply font-poppins;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow-3xl {
  --tw-shadow: 0 25px 20px 10px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}